.header-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: $color-choco;
  z-index: -1;
}

.header-bg--mobile-addition {
  display: block;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: 0;
  width: 230px;
  margin-right: calc(50% - 115px);
  margin-left: calc(50% - 115px);
  height: 90px;
  text-align: center;
  background-image: url("../img/common/menu-form.png");
  background-position: top center;
  background-size: auto 100%;
  z-index: 1;

  a {
    display: block;
    text-align: center;
    width: 100%;

    img {
      margin: 0 auto;
      top: 9px;
      width: 84px;
    }
  }
}

header {
  font-family: 'MDLZ', sans-serif;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  z-index: 4;

  * {
    position: relative;
    box-sizing: border-box;
  }

  .container {
    margin: 0 auto;
    width: 1320px;
    height: 40px;
    max-width: 100%;
    padding: 0 20px 0 24px;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    height: 100%;
    line-height: 40px;
    font-weight: 400;
    font-family: 'MDLZ', sans-serif;

    a {
      display: block;
      font-size: 14px;
      color: white;
      cursor: pointer;
      line-height: 38px;

      @media screen and (max-width: $adaptive-medium-middle) {
        font-size: 12px;
      }

      &.active-link {
        font-size: 18px;

        @media screen and (max-width: $adaptive-medium-middle) {
          font-size: 16px;
        }
      }

      &.cabinet-link {
        padding-left: 31px;
        background-image: url("../img/common/cabinet-icon.svg");
        background-position: 0 9px;

        & ~ a {
          margin-left: 23px;
        }

        &.active-link {
          &::before {
            left: 84px;
            background-image: url("../img/common/arrow-down-polygon-white-2.svg");
          }
        }
      }

      &.main-page-link {
        color: $color-orange;

        &.active-link {
          &::before {
            background-image: url("../img/common/arrow-down-polygon-2.svg");
          }
        }
      }

      &.special-page-link {
        color: $color-yellow;
      }

      &.faq-link {
        &.active-link {
          &::before {
            left: 5px;
            background-image: url("../img/common/arrow-down-polygon-yellow-2.svg");
          }
        }
      }

      &.active-link {
        &::before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 24px;
          width: 13px;
          height: 12px;
          background-repeat: no-repeat;
        }
      }
    }

    .header-desktop-left {
      display: flex;
      justify-content: flex-start;

      a {
        margin-right: 40px;

        @media screen and (max-width: $adaptive-medium-middle) {
          margin-right: 30px;
        }
      }
    }

    .header-desktop-right {
      display: flex;
      justify-content: flex-end;

      a {
        margin-left: 47px;
      }
    }
  }

  .mobile {
    display: none;
  }

  .enter-link {
    background-image: url("../img/common/enter-icon.svg");
    padding-left: 32px;
    background-position: 0 8px;
  }
}

.change-language-select-popup {
  font-family: MDLZ, sans-serif;

  &.x-desktop {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    box-sizing: border-box;
    background-color: $color-choco;
    border-radius: 0 0 30px 30px;
    padding: 0;
    color: white;
  }

  .change-language-title {
    width: 94px;
    line-height: 1.2;
  }

  .country-background-image {
    position: relative;
    width: 35px;
    background-position: right center;
    background-size: auto 22px;
    height: 22px;
    top: -3px;
    margin-bottom: -6px;
  }

  .change-language-select-popup--head {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    cursor: pointer;
    position: relative;

    &.x-mobile {
      flex-direction: row-reverse;
      justify-content: flex-start;
      padding: 12px 18px;
      border-top: 1px solid #c84f2b45;
      border-bottom: 1px solid #c84f2b45;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        right: 0;
        width: 60px;
        height: 100%;
        transition: all .2s;
        background-image: url("../img/common/lang-mobile-menu_arrow.png");
        background-size: 24px 10px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &.x-collapsed::after {
        transform: rotate(180deg);
      }
    }
  }

  .change-language-select-popup--body {
    padding: 4px 0 12px;

    .country-block {
      display: flex;
      justify-content: space-between;
      padding: 8px 24px;
      line-height: 1.2;
    }

    &.x-mobile {

      .country-block {
        flex-direction: row-reverse;
        justify-content: flex-start;
        padding: 8px 18px;
      }
    }
  }

  &.x-mobile {

    .change-language-title,
    .country-block .change-language-title {
      width: calc(100% - 35px);
    }

    .country-background-image {
      background-position: left center;
    }
  }

  &[data-country-code="ru"] .change-language-select-popup--head .country-background-image,
  .country-block[data-country-code="ru"] .country-background-image {
    background-image: url("../img/common/lang_ru.png");
  }

  &[data-country-code="kz"] .change-language-select-popup--head .country-background-image,
  .country-block[data-country-code="kz"] .country-background-image {
    background-image: url("../img/common/lang_kz.png");
  }

  &[data-country-code="mn"] .change-language-select-popup--head .country-background-image,
  .country-block[data-country-code="mn"] .country-background-image {
    background-image: url("../img/common/lang_mn.png");
  }

  &[data-country-code="ge"] .change-language-select-popup--head .country-background-image,
  .country-block[data-country-code="ge"] .country-background-image {
    background-image: url("../img/common/lang_ge.png");
  }

  &[data-country-code="uz"] .change-language-select-popup--head .country-background-image,
  .country-block[data-country-code="uz"] .country-background-image {
    background-image: url("../img/common/lang_uz.png");
  }
}

@media screen and (max-width: 1700px) {

  .change-language-select-popup.x-desktop {
    left: auto;
    right: 0;
  }

  header .container .desktop {
     background-color: $color-choco;
  }

  header .desktop .header-desktop-right {
    padding-right: 180px;
  }

}

@media screen and (max-width: $adaptive-mobile-top) {

  header {

    .desktop {
      display: none;
    }

    .container {
      padding: 0 20px;
    }

    .mobile {
      display: flex;
      justify-content: space-between;
      color: white;
      height: 40px;
      line-height: 40px;

      .mobile-menu-btn {
        padding-left: 20px;
        background-image: url("../img/common/burger.svg");
        cursor: pointer;
        background-position: 0 15px;
      }

      .header-mobile-left {
        text-align: right;

        .enter-mobile-button {
          cursor: pointer;
        }
      }
    }
  }
}


