body.main-page {

  .header-bg--mobile-addition {
    display: none;
  }
}

.main-page-content {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-top: -40px;
  padding-bottom: 56px;
  z-index: 1;

  * {
    position: relative;
    box-sizing: border-box;
  }

  .ag-logo {
    position: absolute;
    top: 0;
    left: 52px;
    width: 100%;
    height: 680px;
    background-image: url("../img/common/ag-logo-desktop.png");
    background-position: top 37px center;
    background-size: 470px auto;
  }

  .main-page-composition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 680px;
    background-image: url("../img/main/main-page-comp.png");
    background-size: 1920px 680px;
    background-position: top center;
  }

  .container {
    margin: 0 auto;
    width: 641px;
    padding-top: 505px;
    left: 30px;
  }

  .main-page-blocks {
    display: flex;
    justify-content: space-between;
    font-family: "MDLZ", sans-serif;
    margin-bottom: 16px;

    .main-page-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &--2 {
        left: 9px;
      }

      .block-number {
        font-size: 100px;
        margin-right: 5px;
        color: white;
      }

      &--3 {
        .block-number {
          margin-right: 9px;
        }
      }

      .block-text {
        top: 10px;
        font-size: 18px;
        line-height: 22px;
        color: $color-main-page-blocks;

        .bigger-title-part {
          font-size: 24px;
        }
      }
    }
  }

  .main-page-blocks--button-wrap {
    text-align: center;

    .button-light {
      display: block;
      position: absolute;
      top: -53px;
      left: 100px;
      width: 393px;
      height: 134px;
      background-image: url("../img/main/cta-button-light.png");
      background-size: 100%;
    }

  }

  .main-page--cta-button {
    margin: 0 auto;
    left: -28px;
  }

}

@media screen and (max-width: $adaptive-medium-top) {

  .main-page-content {

    .container {
      padding-top: 440px;
    }

    .ag-logo {
      height: 345px;
      left: 47px;
      background-size: auto 100%;
    }

    .main-page-composition {
      background-size: 1600px auto;
    }
  }

  .main-page-blocks--button-wrap {

    .button-light {
      opacity: .4;
    }
  }
}

@media screen and (max-width: $adaptive-medium-middle) {

  .main-page-content {

    .container {
      left: 0;
      padding-top: 370px;
    }

    .ag-logo {
      height: 253px;
      left: 28px;
      background-size: auto 95%;
    }

    .main-page-composition {
      top: 40px;
      background-size: 1200px auto;
    }
  }

  .main-page-blocks--button-wrap {

    .button-light {
      top: -49px;
      left: 116px;
      opacity: .3;
    }
  }

  .main-page--cta-button {
    left: 0;
  }
}

@media screen and (max-width: $adaptive-mobile-top) {

  body.main-page {

    .header-bg--mobile-addition {
      display: block;
    }
  }

  .main-page-content {
    padding-bottom: 64px;

    .ag-logo {
      display: none;
    }

    .main-page-composition {
      background-image: url("../img/main/mobile/main-page-comp-mobile.png");
      background-size: auto 100%;
      top: 76px;
      height: 550px;
      width: 200%;
      left: calc(-50% - 48px);
    }

    .container {
      padding-top: 543px;
      width: 100%;
    }

    .main-page-blocks {
      flex-direction: column;
      align-items: center;
      margin-bottom: 45px;

      .main-page-block {
        margin-bottom: -20px;

        &--2 {
          left: 4px;
        }

        .block-number {
        }

        &--3 {
          left: 14px;

          .block-number {
            margin-right: 11px;
          }
        }

        .block-text {

          .bigger-title-part {
          }
        }
      }
    }

    .main-page-blocks--button-wrap {

      .button-light {
        left: 0;
        width: 100%;
        background-size: 375px auto;
        background-position: center;
        opacity: 1;
      }
    }

    .button {

      &--blue {

        &:hover {
        }
      }
    }

    .main-page--cta-button {
      left: 0;
    }
  }
}


@media screen and (max-width: 340px) {

  .main-page-content .container {
    padding-top: 440px;
  }

  .main-page-content .main-page-composition {
    height: 450px;
    left: calc(-50% - 42px);
  }

}

@keyframes crossSitePromo {
  0% {
    opacity: 0;
    top: 80px;
  }

  30% {
    opacity: 0;
    top: 80px;
  }

  100% {
    opacity: 1;
    top: 70px;
  }
}

.cross-site-promo--wrap {
  position: fixed;
  background-color: $color-cross-site-promo;
  color: white;
  right: 0;
  top: 70px;
  opacity: 1;
  height: 102px;
  width: 302px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  z-index: 4;
  box-sizing: border-box;
  animation: 2s crossSitePromo;

  * {
    position: relative;
    box-sizing: border-box;
  }

  .cross-site-promo--close {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    background-image: url("../img/common/close-white.svg");
    background-size: 14px;
    background-position: center;
    cursor: pointer;
    z-index: 5;
  }

  .cross-site-promo--title {
    font-family: MDLZ, sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .cross-site-promo--link {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: underline;
  }
}

@media screen and (max-width: $adaptive-mobile-top) {
  .cross-site-promo--wrap {
    top: auto !important;
    bottom: 20px !important;
    max-width: 100%;
    animation: none;
  }
}
