.main-page {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-top: -40px;
  padding-bottom: 156px;
  z-index: 1;

  * {
    position: relative;
    box-sizing: border-box;
  }

  .ag-logo {
    position: absolute;
    top: 0;
    left: 52px;
    width: 100%;
    height: 680px;
    background-image: url("../img/common/ag-logo-desktop.png");
    background-position: top 37px center;
  }

  .main-page-composition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 680px;
    background-image: url("../img/main/main-page-comp.png");
    background-size: 1920px 680px;
    background-position: top center;
  }

  .container {
    margin: 0 auto;
    width: 641px;
    padding-top: 505px;
    left: 30px;
  }

  .main-page-blocks {
    display: flex;
    justify-content: space-between;
    font-family: "MDLZ", sans-serif;
    margin-bottom: 16px;

    .main-page-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &--2 {
        left: 9px;
      }

      .block-number {
        font-size: 100px;
        margin-right: 5px;
        color: white;
      }

      &--3 {
        .block-number {
          margin-right: 9px;
        }
      }

      .block-text {
        top: 10px;
        font-size: 18px;
        line-height: 22px;
        color: $color-main-page-blocks;

        .bigger-title-part {
          font-size: 24px;
        }
      }
    }
  }

  .main-page-blocks--button-wrap {
    text-align: center;

    .button-light {
      display: block;
      position: absolute;
      top: -53px;
      left: 100px;
      width: 393px;
      height: 134px;
      background-image: url("../img/main/cta-button-light.png");
      background-size: 100%;
    }

  }

  .button {
    font-family: MDLZ, sans-serif;
    font-size: 24px;
    color: white;
    padding: 10px 32px;
    border-radius: 100px;
    transition: background-color .3s;

    &--blue {
      background-color: $color-primary-btn-bg;

      &:hover {
        background-color: $color-primary-btn-hover;
      }
    }
  }

  .main-page--cta-button {
    margin: 0 auto;
    left: -28px;
  }

}
