.cabinet-page-content {
  position: relative;
  box-sizing: border-box;
  padding-top: 57px;
  padding-bottom: 42px;

  * {
    position: relative;
    box-sizing: border-box;
  }

  .container {
    width: 670px;
    max-width: 100%;
    margin: 0 auto;
  }

  .cabinet--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    .cabinet--contacts-section {
      text-align: left;
      color: $color-choco-2;

      .cabinet--name {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 3px;
      }

      .cabinet--email {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 12px;
        opacity: .5;
      }

      .cabinet--exit-btn {
        font-size: 15px;
        text-decoration: underline;
      }
    }

    .cabinet--coins-ui {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;

      .coins-ui--common {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 150px;
        font-family: MDLZ, sans-serif;
        color: $color-choco-2;

        .coins-ui--common--value {
          font-size: 50px;
          line-height: 43px;
          margin-right: 11px;
        }

        .coins-ui--common--desc {
          font-size: 16px;
          line-height: 18px;
        }
      }

      .coins-ui--tip-wrap {
        text-align: right;
        margin-top: 11px;

        .coins-ui--tip {
          font-size: 14px;
          color: rgba(116, 54, 10, 0.5);
          text-decoration: underline;
        }
      }

      .coins-ui--img {
        position: absolute;
        width: 115px;
        height: 105px;
        bottom: 4px;
        right: 120px;
        background-image: url("../img/coins-update/coin.png");
        background-size: cover;
      }

    }
  }

  .user-collection--wrap {

    .user-collection--section-title {
      font-family: MDLZ, sans-serif;
      font-size: 16px;
      margin-bottom: 44px;
      text-align: center;
      color: $color-choco-2;
    }

    .user-collection--elements-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;

      .user-collection--element {

        &:nth-child(n + 4) {
          margin-top: 40px;
        }

        .user-collection--element-body {
          border-radius: 35px;
          text-align: center;
          color: white;
          width: 206px;
          height: 200px;

          &.dark-choco-bg {
            background-color: #582B0B
          }

          &.milk-choco-bg {
            background-color: #A85B00
          }

          &.white-choco-bg {
            background-color: #FFFFFF;
            color: $color-choco;
          }

          .user-collection--ag-logo {
            position: absolute;
            top: -28px;
            left: 0;
            width: 100%;
            height: 65px;
            background-image: url("../img/common/ag-logo-small.png");
            background-position: top center;
            background-size: auto 64px;
          }

          .user-collection--title {
            position: absolute;
            top: 42px;
            width: 100%;
            font-size: 24px;
            font-family: MDLZ, sans-serif;

            .user-collection--title-value {
              margin: 0 auto;
              width: 140px;
              height: 87px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .user-collection--parts {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 16px;
            left: 0;
            width: 100%;
            padding: 0 12px;

            .user-collection--part {
              width: 52px;
              height: 52px;
              background-position: center;
              background-size: cover;
              margin: 0 12px;

              &:first-child {
                margin: 0;
              }

              &:last-child {
                margin: 0;
              }

              &:nth-child(2):last-child {
                margin-left: 12px;
              }

            }
          }
        }

        .user-collection--element-btn-wrap {
          margin-top: 6px;
          font-size: 14px;
          color: $color-choco-2;
          text-align: center;

          .user-collection--success-status {

          }

          .user-collection--editing-link {
            text-decoration: underline;
          }
        }
      }

      .user-collection--creating-btn {
        cursor: pointer;

        &:nth-child(n + 4) {
          margin-top: 40px;
        }

        .user-collection--element-body {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px dotted $color-choco-2;
          background-color: transparent;
          border-radius: 35px;
          width: 206px;
          height: 200px;
        }

        .user-collection--white-circle-bg {
          margin: auto;
          background-color: white;
          width: 76px;
          height: 76px;
          border-radius: 100px;
          background-image: url("../img/common/plus-icon.svg");
          background-position: center;
          background-size: 17px;
        }
      }
    }
  }

  .lk-expert-info {
    margin: 30px auto 40px;
    text-align: center;

    .lk-expert-info-title {
      position: relative;
      font-family: MDLZ, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: $color-choco-2;
      max-width: 330px;
      width: 100%;
      margin: 0 auto 18px;

      &.disabled .expert-trigger {
        position: absolute;
        top: 21px;
        right: -15px;
        height: 15px;
        width: 15px;
        background-image: url("../img/expert/how-to.svg");
        cursor: pointer;
      }
    }

    .button.disabled {
      opacity: .5;
      pointer-events: none;
    }
  }

  .friends-invitations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 531px;
    margin: 56px auto 12px;
    font-family: MDLZ, sans-serif;

    .friends-invitations--description {
      text-align: left;
      padding-right: 20px;

      .friends-invitations--description--title {
        color: $color-choco-2;
        font-size: 21px;
        margin-bottom: 11px;
      }

      .friends-invitations--description--content {
        color: $color-choco;
        font-size: 16px;
        line-height: 21px;
        font-family: "PT Sans", sans-serif;
      }
    }

    .friends-invitations--form {
      position: relative;
      top: 3px;
      width: 274px;
      padding: 12px 17px;
      background-image: url("../img/coins-update/coins-bg.png");
      background-size: cover;
      border-radius: 20px;


      .friends-invitations--form--title {
        font-size: 16px;
        color: white;
        text-align: center;
      }

      .friends-invitations--form--tip-btn {
        position: absolute;
        top: 9px;
        right: 18px;
        height: 15px;
        width: 15px;
        background-image: url("../img/coins-update/how-to.svg");
        cursor: pointer;
      }

      .friends-invitations--form--body {
        margin: 11px 0 12px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .friends-invitations--form--code {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 140px;
          padding-left: 15px;
          padding-right: 5px;
          background-color: white;
          border-radius: 20px;

          .friends-invitations--form--code--value {
            font-size: 21px;
            color: $color-choco-2;
          }

          .friends-invitations--form--code--copy-btn {
            width: 32px;
            height: 32px;
            background-image: url("../img/coins-update/copy.svg");
            background-size: cover;
            border-radius: 100%;
          }
        }

        .friends-invitations--form--social-buttons {
          display: flex;

          & > * {
            display: flex;
            width: 40px;
            height: 40px;
            background-size: cover;
          }

          .friends-invitations--form--social-buttons--vk {
            background-image: url("../img/coins-update/vk-btn.svg");
            margin-right: 5px;
          }

          .friends-invitations--form--social-buttons--ok {
            background-image: url("../img/coins-update/ok-btn.svg");
          }
        }
      }

      .friends-invitations--form--counter {
        text-align: center;
        font-size: 12px;
        color: white;
      }
    }
  }
}

@media screen and (max-width: $adaptive-mobile-top) {

  .cabinet-page-content {
    padding-top: 64px;
    padding-bottom: 20px;

    .container {
      width: 100%;
      padding: 0 20px;
    }

    .cabinet--header {
      align-items: flex-end;
      margin: -5px auto 31px;
      max-width: 336px;

      .cabinet--contacts-section {
        flex-grow: 1;

        .cabinet--name {
        }

        .cabinet--email {
          font-size: 12px;
        }

        .cabinet--exit-btn {
        }
      }

      .cabinet--coins-ui {
        flex-grow: 1;

        .coins-ui--common {
          flex-direction: column;

          .coins-ui--common--value {
            margin-right: 0;
            margin-top: 5px;
            margin-bottom: 10px;
          }

          .coins-ui--common--desc {
            text-align: right;
            font-size: 13px;

            br {
              display: none;
            }
          }
        }

        .coins-ui--tip-wrap {
          margin-top: 6px;

          .coins-ui--tip {
          }
        }

        .coins-ui--img {
          width: 82px;
          height: 75px;
          right: 15px;
          bottom: 42px;
        }

      }
    }

    .user-collection--wrap {

      .user-collection--section-title {
        margin-bottom: 40px;
      }

      .user-collection--elements-list {
        width: 206px;
        margin: 0 auto;

        .user-collection--element {

          &:not(:first-child) {
            margin-top: 40px;
          }

          .user-collection--element-body {

            .user-collection--ag-logo {

            }

            .user-collection--title {

            }

            .user-collection--parts {

              .user-collection--part {

              }
            }
          }

          .user-collection--element-btn-wrap {

            .user-collection--success-status {

            }

            .user-collection--editing-link {

            }
          }
        }

        .user-collection--creating-btn {

          &:not(:first-child) {
            margin-top: 20px;
          }

          .user-collection--element-body {

          }

          .user-collection--white-circle-bg {

          }
        }
      }
    }

    .friends-invitations {
      flex-direction: column;
      margin-bottom: 40px;
      max-width: 224px;

      .friends-invitations--description {
        text-align: center;
        padding-right: 0;
        margin-bottom: 20px;

        .friends-invitations--description--title {
          font-size: 21px;
        }

        .friends-invitations--description--content {
          font-size: 16px;
          line-height: 21px;

          br {
            display: none;
          }
        }
      }

      .friends-invitations--form {
        width: 274px;

        .friends-invitations--form--title {
          font-size: 16px;
        }

        .friends-invitations--form--tip-btn {
        }

        .friends-invitations--form--body {

          .friends-invitations--form--code {
            width: 140px;

            .friends-invitations--form--code--value {
            }

            .friends-invitations--form--code--copy-btn {
            }
          }

          .friends-invitations--form--social-buttons {

            & > * {
            }

            .friends-invitations--form--social-buttons--vk {
            }

            .friends-invitations--form--social-buttons--ok {
            }
          }
        }

        .friends-invitations--form--counter {
        }
      }
    }
  }
}
