body {
  font-family: "PT Sans", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  background-image: url("../img/common/bg.jpg");
  background-position: top center;
  background-size: auto 100%;

  &.no-scroll {
    overflow: hidden;
  }

  &.step-5 {
    background-image: url("../img/common/bg-2-3.jpg");
  }
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Dev Start */

.template {
  position: absolute;
  z-index: 199;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/templates/mobile_cabinet.png");
  background-position: center top;
  opacity: .6;
  min-height: 1000px;
  display: none;
}

.dev {
  display: none;
  justify-content: flex-start;
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  opacity: .5;
}

.dev button {
  margin-right: 6px;
  padding: 12px 15px;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.button {
  font-family: MDLZ, sans-serif;
  font-size: 24px;
  color: white;
  padding: 9px 32px 11px;
  border-radius: 100px;
  transition: background-color .3s;

  &--blue {
    color: white;
    background-color: $color-primary-btn-bg;

    &:hover {
      background-color: $color-primary-btn-hover;
    }
  }
}

@media screen and (max-width: $adaptive-mobile-top) {

  body {
    background-size: auto 100%;
  }
}

.link-to-forget-popup {
  text-align: center;
  display: block;
  text-decoration: underline;
  font-size: 11.5px;
  margin: 18px auto 2px;
}

header.menu-opened {
  .header-bg--mobile-addition,
  .header-mobile-right {
    display: none !important;
  }
}

.menu {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 40px);
  background: $color-choco;
  color: white;
  overflow-y: auto;
  z-index: 100;
  padding: 0;
  transition: 300ms all linear;
  visibility: hidden;
  opacity: 0;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  li {
    padding: 10px 18px;
    font-family: MDLZ, sans-serif;

    &:not(:last-child) {
      border-bottom: 1px solid #c84f2b45;
    }
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url("/img/common/bg.jpg") center no-repeat;
  z-index: 999;
}

.preloader-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 270px;
  height: 100px;
  margin: auto;
}

.preloader-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.preloader-title {
  font-family: "MDLZ", sans-serif;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #74360A;
}

@keyframes preload {
  0% {
    transform: scale(.6);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.6);
  }
}

.preloader-images img {
  transform: scale(.6);
  animation: preload 2s infinite;
}

.preloader-images img:nth-child(2) {
  animation-delay: 666ms
}

.preloader-images img:nth-child(3) {
  animation-delay: 1333ms
}