body {
  font-family: "DINPro", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  background-image: url("../img/common/bg.jpg");
  background-position: top center;

  &.no-scroll {
    overflow: hidden;
  }
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Dev Start */

.template {
  position: absolute;
  z-index: 199;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/templates/web_popup_auth.png");
  background-position: center top;
  opacity: .6;
  display: none;
}

.dev {
  display: none;
  justify-content: flex-start;
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  left: 10px;
  opacity: .5;
}

.dev button {
  margin-right: 6px;
  padding: 12px 15px;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.button {
  font-family: MDLZ, sans-serif;
  font-size: 24px;
  color: white;
  padding: 10px 32px;
  border-radius: 100px;
  transition: background-color .3s;

  &--blue {
    color: white;
    background-color: $color-primary-btn-bg;

    &:hover {
      background-color: $color-primary-btn-hover;
    }
  }
}

@media screen and (max-width: $adaptive-mobile-top) {

  body {
    background-size: auto 100%;
  }
}

