@font-face {
  font-family: 'DINPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/DINPro-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'DINPro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/DINPro-Medium.otf") format('opentype');
}

@font-face {
  font-family: 'MDLZ';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/MDLZBITETYPE-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.ttf") format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ptsansbold.ttf") format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ptsansbolditalic.ttf") format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsansitalic.ttf") format('truetype');
}



