$color-choco: #74360A;
$color-yellow: #F9E66A;
$color-orange: #F9B75E;

$color-primary-btn-bg: #75BAE5;
$color-primary-btn-hover: #52A8DE;

$color-form-yellow-bg: #FFEA04;
$color-choco-2: #C84F2B;

$color-main-page-blocks: #C84F2B;

$color-footer-text: #4D1D85;

$adaptive-medium-top: 1200px;
$adaptive-medium-middle: 1000px;

$adaptive-mobile-top: 780px;
